In [8]:
import pandas as pd
df = pd.read_csv("mercadotecnia.csv")
df

    num                              NOMBRE  NOTA TOTAL S1  NOTA TOTAL S2
0     1      CINDY CAROLINA OSORTO CASTILLO           91.0           84.0
1     2     EMELI YOLIBETH FIGUEROA BONILLA           85.0           94.0
2     3      FANNY ESTEFANY CHAVEZ GONZALES            NaN            NaN
3     4         GISSELL ANAHY FLORES TORRES           90.0           84.0
4     5          IRMA ALICIA ESCOTO MONCADA           93.0           92.0
5     6       JAQUELIN YAMILETH GOMEZ CALIX           77.0           84.0
6     7  JOHANA PATRICIA ALMENDARES ORDOÑEZ           95.0           90.0
7     8       KATERIN YORLENIS BLANCO LAGOS           92.0           90.0
8     9       KATHIA KARINA LOZANO BARAHONA           85.0           72.0
9    10       KEIDY PAMELA CARRANZA ESPINAL           91.0           84.0
10   11          LESLY DANIELA AVILA AMADOR           72.0           75.0
11   12         MARIELA SARAI LOPEZ HERRERA           83.0           90.0
12   13    NAIDELYN YIRETH SANCHEZ OSEGUERA           77.0           79.0
13   14     SUREILY ELISABETH AMADOR DAVILA           77.0           70.0
14   15       YOCELFY MAYLIN LOPEZ CORRALES           92.0           80.0
15   16         ANA ELIZETH ARTEAGA ESCOBAR            NaN            NaN
16   17   ARNOLD HAUDIEL BETANCOURT PACHECO           92.0           90.0
17   18         DOUGLAS NOE AVILA ALVARENGA           91.0           96.0
18   19     GUSTAVO ADOLFO FIGUEROA MONCADA           72.0           70.0
19   20          JOAN EMERSON MEDINA ORTEGA           92.0           86.0
20   21          KEVIN JAIR ORDOÑEZ ARGUETA           93.0           96.0
21   22            ORE A SOID AVILA GODINEZ           82.0           76.0
22   23      VICTOR MANUEL SANCHEZ OSEGUERA           77.0           79.0
23   24    WALTER ADOLFO MARTINEZ ESCALANTE           21.0            NaN